absl-py==0.7.1
asgiref==3.2.3
astor==0.8.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Django==3.1.6
gast==0.2.2
google-auth==1.10.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
idna==2.8
image==1.5.27
joblib==0.13.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
numpy==1.17.0
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==0.25.0
Pillow==7.0.0
protobuf==3.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.21.3
scipy==1.4.1
six==1.12.0
sqlparse==0.3.0
tensorboard==2.1.0
tensorflow==2.4.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.15.5
wrapt==1.11.2
